html {
  font-family: "UniversalSans", "Inter", -apple-system, "system-ui", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--color-space-grey);
  color: rgba(255, 255, 255, 0.8);

  @media only screen and (max-width: 480px) {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
