@font-face {
  font-family: "PolySans";
  src: url("@/assets/fonts/PolySansTrial-Neutral.otf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "UniversalSans";
  src: url("@/assets/fonts/Universal-Sans-450-Trial.ttf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "GeistMono";
  src: url("@/assets/fonts/GeistMono-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}
