@font-face {
  font-family: "IvyPresto";
  src: url("@/assets/fonts/IvyPresto/Ivy-Presto.otf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "PolySans";
  src: url("@/assets/fonts/PolySansTrial-Neutral.otf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "UniversalSans";
  src: url("@/assets/fonts/Universal-Sans-450-Trial.ttf") format("truetype"); /* Safari, Android, iOS */
  text-rendering: optimizeLegibility;
}
