.u-text-h1,
.u-text-h2,
.u-text-h3 {
  font-family: "PolySans";
  line-height: 100%;
  color: white;
}

.u-text-h1 {
  font-size: 6rem;
  line-height: 7rem;
  // letter-spacing: -1px;

  &--alt {
    font-size: 12rem;
  }

  @media only screen and (max-width: 720px) {
    font-size: 5rem;
    line-height: 6rem;
  }

  @media only screen and (max-width: 480px) {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

.u-text-h2 {
  font-size: 5rem;
  line-height: 6rem;

  @media only screen and (max-width: 720px) {
    font-size: 4rem;
    line-height: 5rem;
  }

  @media only screen and (max-width: 480px) {
    font-size: 3.3rem;
    line-height: 4.3rem;
  }
}

.u-text-sm {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.u-text-xs {
  font-family: "GeistMono";
  font-size: 1.4rem;
}

.u-font-regular {
  font-weight: 400;
}

.u-font-medium {
  font-weight: 500;
}

.u-font-italic {
  font-style: italic;
}
