.u-text-h1,
.u-text-h2,
.u-text-h3 {
  font-family: "PolySans";
  line-height: 100%;
  color: white;
  line-height: 1;
}

.u-text-h1 {
  font-size: 6rem;

  @media only screen and (max-width: 720px) {
    font-size: 5rem;
  }

  @media only screen and (max-width: 480px) {
    font-size: 3.6rem;
  }

  &--alt {
    font-size: 12rem;

    @media only screen and (max-width: 720px) {
      font-size: 9rem;
    }

    @media only screen and (max-width: 500px) {
      font-size: 6rem;
    }
  }
}

.u-text-h2 {
  font-size: 5rem;

  @media only screen and (max-width: 720px) {
    font-size: 4rem;
  }

  @media only screen and (max-width: 480px) {
    font-size: 3.3rem;
  }
}

.u-text-h3 {
  font-size: 4.6rem;
  line-height: 1.2;

  @media only screen and (max-width: 720px) {
    font-size: 2.6rem;
  }
}

.u-text-sm {
  font-size: 1.6rem;
}

.u-text-xs {
  font-family: "GeistMono";
  font-size: 1.4rem;
}

.u-font-regular {
  font-weight: 400;
}

.u-font-medium {
  font-weight: 500;
}

.u-font-italic {
  font-style: italic;
}

.u-font-mono {
  font-family: "GeistMono";
}

.u-text-black {
  color: var(--color-light-black);
}
