:root {
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

  // colors
  --color-space-grey: #232323;
  --color-pink-nebula: #ef91f7;
  --color-pink-moon: #ffd2e1;
  --color-light-blue: #7fd1fe;
  --color-staurn-orange: #ff824d;
  --color-cream: #f7f0e5;
}
