.c-button {
  border-radius: 50px;
  padding: 1.3rem 2.1rem;
  border: none;
  color: black;
  background-color: white;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  z-index: 2;

  @media only screen and (max-width: 480px) {
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
  }

  &--alt {
    color: white;
    background-color: var(--color-space-grey);
  }

  &--small {
    padding: 1rem 1.5rem;
  }
}
