.c-button {
  border-radius: 50px;
  padding: 13px 21px;
  border: none;
  color: black;
  background-color: white;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  text-align: center;

  &--alt {
    color: white;
    background-color: var(--color-space-grey);
  }

  &--small {
    padding: 1rem 1.5rem;
  }
}
