.c-button {
  border-radius: 50px;
  padding: 13px 21px;
  min-width: 14rem;
  border: none;
  color: black;
  background-color: white;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;

  &--alt {
    color: white;
    background-color: var(--color-space-grey);
  }
}
