.home {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 3rem 2rem 2rem;

  @media only screen and (max-width: 480px) {
    padding: 2.2rem 2rem 2rem;
  }

  &__header {
    margin: 0 auto;
    width: 100%;
  }

  &__link {
    color: inherit;
    font-size: 1.6rem;
    transition: 0.4s ease-out;

    text-decoration: none;

    &:hover {
      color: var(--color-light-blue);
    }
  }

  &__nav {
    &-menu {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
    }

    &-logo {
      margin-right: auto;
    }

    &-item:last-child {
      margin-left: 3rem;

      @media only screen and (max-width: 480px) {
        margin-left: 2rem;
      }
    }
  }

  &__hero {
    --hero-padding-top: 8.6rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    border: 1px dashed #cdcdcd75;
    margin: 60px auto 0;
    height: 77vh;
    border-radius: 50px;
    overflow: hidden;
    padding: var(--hero-padding-top) 2rem 0;

    @media only screen and (max-width: 720px) {
      --hero-padding-top: 2rem;
    }

    @media only screen and (max-width: 480px) {
      --hero-padding-top: 0rem;
      height: 70vh;
    }

    &-label {
      visibility: hidden;
    }

    &-label,
    &-heading {
      color: line;
      background: linear-gradient(
        to right,
        var(--color-pink-nebula) 0%,
        var(--color-pink-moon) 30%,
        var(--color-light-blue) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    &-body {
      max-width: 760px;
    }

    &-button {
      margin-top: 1.2rem;
      z-index: 2;

      @media only screen and (max-width: 480px) {
        margin-top: 0rem;
      }
    }

    &-apps {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: calc(-1 * var(--hero-padding-top));
    }
  }

  &__footer {
    margin-top: 5rem;

    &-menu {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      font-size: 1.6rem;
      width: 100%;
    }

    &-item {
      color: inherit;

      &:last-child {
        margin-left: 2.4rem;
      }

      &--copyright {
        margin-right: auto;
      }
    }
  }
}
