.wrapped {
  height: 100dvh;
  padding: 4rem 2rem 2rem;

  @media only screen and (max-width: 500px) {
    padding: 1.8rem 1.2rem;
  }

  &__header {
    margin: 0 auto;
    width: fit-content;
  }

  &__nav-menu {
    display: inline-flex;
    list-style: none;
    padding: 0;
  }

  &__nav-logo {
    @media only screen and (max-width: 500px) {
      width: 7.4rem;
    }
  }

  &-progress {
    display: flex;
    width: fit-content;
    margin: 2.8rem auto 0;

    @media only screen and (max-width: 500px) {
      margin-top: 1.5rem;
    }

    &__list {
      display: inline-flex;
      list-style: none;
      gap: 1rem;
      padding: 0;
    }

    &__step {
      width: 3rem;
      height: 0.2rem;
      border-radius: 5rem;
      background-color: #b8b8b8;
      transition: 0.2s ease-out;

      @media only screen and (max-width: 500px) {
        width: 2.4rem;
        height: 0.12rem;
      }

      &--active {
        background-color: var(--color-pink-nebula);
      }
    }
  }

  &-carousel__cell {
    width: 100%;

    @media only screen and (max-width: 720px) {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &-card {
    --top-padding: 14rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    border: 1px dashed #cdcdcd75;
    margin: 5rem auto 0;
    width: 100%;
    min-height: 72rem;
    max-width: 1280px;
    border-radius: 50px;
    padding: var(--top-padding) 9.2rem 0;
    overflow: hidden;

    @media only screen and (max-width: 720px) {
      --top-padding: 4rem;
      margin-top: 2.8rem;
      padding: var(--top-padding) 2.8rem 0;
    }

    @media only screen and (max-width: 480px) {
      min-height: 54rem;
      padding: var(--top-padding) 2.41rem 3rem;
    }

    &__copy {
      display: flex;
      gap: 24px;
      flex-direction: column;
      max-width: 48rem;

      @media only screen and (max-width: 720px) {
        align-items: center;
        text-align: center;
        margin: 0 auto;
      }
    }

    &__label {
      width: fit-content;
      text-transform: uppercase;
      background: linear-gradient(
        to right,
        var(--color-pink-nebula) 0%,
        var(--color-pink-moon) 30%,
        var(--color-light-blue) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &--blue {
        background: linear-gradient(
          to right,
          var(--color-space-grey) 0%,
          var(--color-neptune-blue) 100%
        );
      }

      &--orange {
        background: linear-gradient(
          to right,
          var(--color-saturn-orange) 0%,
          var(--color-neptune-blue) 100%
        );
      }

      &--blue,
      &--orange {
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    &__body {
      max-width: 740px;
    }

    &__animated-text {
      opacity: 0;

      div {
        display: inline-block;
        white-space: pre;
      }

      span {
        --delay: 0.1s;
        position: relative;
        display: inline-block;
        transform: translateY(50%);
        opacity: 0;
        animation: slide 0.8s var(--ease-out-expo) forwards var(--delay),
          fade 1s linear forwards var(--delay);

        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            --delay: #{$i * 0.14s};
          }
        }
      }

      @keyframes slide {
        to {
          transform: translateY(0%);
        }
      }

      @keyframes fade {
        to {
          opacity: 1;
        }
      }
    }

    &__button {
      margin-top: 12px;
    }

    &__matter-container {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: calc(-1 * var(--top-padding));
    }

    &__illustration {
      &--grid {
        --target-translate: translate(2%, 1%);

        ellipse {
          animation: moveCircle 2.2s var(--ease-out-expo) infinite;

          @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
              animation-delay: $i * 0.5s;
            }
          }
        }
      }

      &--connector {
        --anim-play-state: paused;

        .logo {
          --delay: 0.5s;
          transform: scale(0);
          transform-box: fill-box;
          transform-origin: center;
          animation: scaleIn 0.7s var(--ease-out-expo) forwards var(--delay);
          animation-play-state: var(--anim-play-state);

          &--super {
            --delay: 1s;
          }

          &--slite {
            --delay: 2s;
          }

          &--jira {
            --delay: 3s;
          }

          &--intercom {
            --delay: 4s;
          }

          &--slack {
            --delay: 5s;
          }
        }

        .connector {
          --delay: 1s;
          --stroke-length: 100;
          stroke-dasharray: var(--stroke-length);
          stroke-dashoffset: var(--stroke-length);
          animation: drawStroke 0.8s ease-out forwards var(--delay);
          animation-play-state: var(--anim-play-state);

          &--intercom,
          &--jira {
            transform-box: fill-box;
            transform-origin: center;
            transform: scale(-1);
          }

          &--slite {
            --delay: 1.4s;
          }

          &--jira {
            --delay: 2.4s;
          }

          &--intercom {
            --delay: 3.4s;
          }

          &--slack {
            --delay: 4.4s;
          }
        }

        @keyframes drawStroke {
          to {
            stroke-dashoffset: 0;
          }
        }

        @keyframes scaleIn {
          to {
            transform: scale(1);
          }
        }
      }

      .circle-badge {
        --target-translate: translate(9%, 5%);
        animation: moveCircle 4s var(--ease-out-expo) infinite;
      }

      @media only screen and (max-width: 720px) {
        width: 76%;
        height: auto;
        margin: 0 auto;
      }

      @keyframes moveCircle {
        0% {
          transform: translate(0);
        }

        50% {
          transform: var(--target-translate);
        }

        100% {
          transform: translate(0);
        }
      }
    }

    &__cardswrapper {
      display: grid;
      gap: 3rem;
      margin-top: 3rem;

      @media only screen and (max-width: 500px) {
        margin-top: 1rem;
      }
    }

    &__card {
      padding: 4.5rem 5.4rem;
      background: white;
      color: var(--color-space-grey);
      border-radius: 10px;
      border: 0.5px dashed rgba(0, 0, 0, 0.5);
      text-align: left;

      &:first-child {
        transform: rotate(-0.8deg);
      }

      &:last-child {
        transform: rotate(0.8deg);
      }

      &-gradient {
        color: transparent;
        background: linear-gradient(
          to right,
          var(--color-space-grey) 0%,
          var(--color-saturn-orange) 30%,
          var(--color-neptune-blue) 60%,
          var(--color-pink-nebula) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      &--small {
        padding: 2.5rem 5.4rem;
      }

      @media only screen and (max-width: 500px) {
        padding: 2rem;
      }
    }

    &__collaborator-images {
      --scale: 18rem;
      --anim-play-state: paused;
      display: flex;
      margin-top: 10rem;
      min-height: var(--scale);
      background-color: bisque;
      justify-content: center;

      @media only screen and (max-width: 500px) {
        margin-top: 5rem;
        --scale: 11rem;
      }

      .wrapped-card__collaborator-imgwrap {
        --delay: 1.5s;
        position: absolute;
        width: var(--scale);
        height: var(--scale);
        --translate: translate(-45%, 0);
        margin: 0 auto;
        overflow: hidden;
        filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.35));
        transform: var(--translate) scale(0);
        animation: scaleIn 0.8s var(--ease-out-expo) forwards var(--delay);
        animation-play-state: var(--anim-play-state);
        border-radius: 50%;

        &:last-child {
          --delay: 1.6s;
          --translate: translate(45%, -20%);
        }

        img {
          --delay: 1.6s;
          --translate: translate(0);
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1.3);
          animation: scaleIn 0.6s var(--ease-out-expo) forwards var(--delay);
          animation-play-state: var(--anim-play-state);

          &:last-child {
            --delay: 1.7s;
          }
        }

        @keyframes scaleIn {
          to {
            transform: var(--translate) scale(1);
          }
        }
      }
    }

    &--split {
      display: flex;
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
      padding-top: 0;

      @media only screen and (max-width: 720px) {
        flex-wrap: wrap;
        padding-top: var(--top-padding);
      }
    }

    &--intro {
      padding-top: 8.2rem;

      @media only screen and (max-width: 500px) {
        padding-top: 4.2rem;
      }

      &::before {
        --size: 155rem;
        position: absolute;
        content: "";
        width: var(--size);
        height: var(--size);
        background: white;
        bottom: 0;
        border-radius: 100%;
        padding-top: 10rem;
        font-size: 7rem;
        background: var(--color-saturn-orange);
        filter: blur(10px);
        transition: 1.2s ease-in-out;
        animation: scaleup 1.6s var(--ease-out-expo) forwards 0.4s;
        transform: translateY(95%) scale(0.5);

        @keyframes scaleup {
          to {
            transform: translateY(80%) scale(1);
          }
        }

        @media only screen and (max-width: 500px) {
          --size: 100rem;
        }
      }
    }

    &--summary {
      .wrapped-card__copy {
        display: grid;
        gap: 4rem;
        max-width: 54rem;
        text-align: left;

        &-gradient {
          background: linear-gradient(
            to right,
            var(--color-light-blue) 24%,
            var(--color-pink-moon) 65%
          );
          background-clip: text;
          color: transparent;

          &--orange {
            background: linear-gradient(
              to right,
              var(--color-pink-moon) 33%,
              var(--color-saturn-orange) 100%
            );
            background-clip: text;
            color: transparent;
          }

          &--pink {
            background: linear-gradient(
              to right,
              var(--color-cream) 39%,
              var(--color-pink-nebula) 88%
            );
            background-clip: text;
            color: transparent;
          }
        }
      }

      .wrapped-card__illustration {
        margin: unset;
      }
    }

    &--cream {
      background: var(--color-cream);
    }

    &--blue {
      background: var(--color-neptune-blue);
    }

    &--pink {
      background: var(--color-pink-nebula);
    }

    &--cream,
    &--pink {
      color: var(--color-light-black);

      .u-text-h1 {
        color: var(--color-space-grey);
      }
    }
  }

  &__scroll-buttons {
    position: absolute;
    // top: 45%;
    top: 44rem;
    width: 94vw;
    left: calc(-47vw + 50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;

    @media only screen and (max-width: 480px) {
      top: 34rem;
    }
  }

  &__scroll-button {
    padding: 2rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    pointer-events: auto;

    &:hover {
      background-color: white;
      transition: 0.5s ease-in-out;

      svg path {
        fill: black;
        transition: 0.5s ease-in-out;
      }
    }
  }
}
